<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of python types, lists, and dictionaries

_Author: Kiefer Katovich (SF)_

---

In [19]:
# Enter Student names here:
student_names = ['Jack', 'John', 'Janice', 'Jasmine', 'Jason', 'Frankie', 'Francine', 'Francis', 'Forth', 'Fatoush']

---

### 1. What are the types of the following variables?

In [1]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [2]:
# A:
type(a) == int
type(b) == float
type(c) == list
type(d) == dict
type(e) == tuple
type(f) == dict 
type(g) == bool
type(h) == bool
type(i) == str

True

In [3]:
my_list = [a, b, c, d, e, f, g, h, i]

In [5]:
for i in my_list:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>
<class 'bool'>
<class 'str'>

---

### 2. What is the difference between a "mutable" and "immutable" object?

In [4]:
# A: A mutable object (i.e. a list) can have its contents changed. An immutable object's (i.e. tuple) content cannot change.

---

### 3. Print the `student_names` list.

In [13]:
# A:
print(student_names)

['Jack', 'John', 'Janice', 'Jasmine', 'Jason']

---

### 4. Print the names of the first and last students in the list.

In [15]:
# A:
print(student_names[0])
print(student_names[-1])

Jack
Jason

---

### 5. Print the first five names in the student list.

In [18]:
# A:
student_names[:5]

['Jack', 'John', 'Janice', 'Jasmine', 'Jason']

---

### 6. Combine the nineth and 10th student names into a single string, separated by a space.  Assign that string to a variable.

In [20]:
# A:
combo_name = student_names[8] + ' ' + student_names[9]
combo_name

'Forth Fatoush'

---

### 7. Append an animal to the list of animals.

In [38]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [39]:
# A:
animals.append('kitty')
animals

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'kitty']

---

### 8. Print the length of the animals list.

In [40]:
# A:
len(animals)

7

---

### 9. Divide the length of the fifth animal by the second.

In [41]:
# A:
len(animals[4]) / len(animals[1])

2.3333333333333335

---

### 10. Perform the same division, but ensure output is a decimal number.

In [42]:
# A:
float(len(animals[4]) / len(animals[1]))

2.3333333333333335

---

### 11. Show two different ways to combine the animals list and the numbers list.

In [53]:
numbers = [0., 0.1, 1., 10., 100., 1000.]
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [54]:
# A:
combined_list = animals

for num in numbers:
    combined_list.append(num)

combined_list

['duck',
 'rat',
 'boar',
 'slug',
 'mammoth',
 'gazelle',
 0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0]

In [10]:
numbers = [0., 0.1, 1., 10., 100., 1000.]
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

combined_dict = {}
for i in range (len(animals)):
    combined_dict[animals[i]] = numbers[i]

combined_dict

{'boar': 1.0,
 'duck': 0.0,
 'gazelle': 1000.0,
 'mammoth': 100.0,
 'rat': 0.1,
 'slug': 10.0}

In [19]:
numbers = [0., 0.1, 1., 10., 100., 1000.]
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

animals.extend(numbers)
animals

['duck',
 'rat',
 'boar',
 'slug',
 'mammoth',
 'gazelle',
 0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0]

---

### 12. Remove 'kiefer' from the list and insert your own in its place.

In [21]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [22]:
names[2] = 'jason'
names

['doug', 'billy', 'jason', 'kian', 'sam']

---

### 13. Sort the following list.

In [24]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [25]:
# A:

# What does it even mean to sort a list of numbers and strings? Convert all numbers to strings?

---

### 14. Manually check whether one element of `mix` is greater than another.

In [72]:
# A:

mix[2] > mix[3]

True

---

### 15. Find the index of `'a'` in the list.

In [73]:
# A:

mix.index('a')

5

---

### 16. Reverse the `mix` list.

In [74]:
# A:

mix.reverse()
mix

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}, ['billy', 'sam']]

---

### 17. Remove the last element of `mix`,  and assign it to a variable.

In [79]:
# A:
last = mix.pop()
last
mix

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}]

In [80]:
last

['billy', 'sam']

---

### 18. Count the number of times `0` appears in the following list.

In [84]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [85]:
binary.count(0)

16

In [83]:
# A:

count = 0

for i in binary:
    if i == 0:
        count += 1
    else:
        pass

count

16

---

### 19. Create an SF (San Francisco) zipcode dictionary.

With the following key:value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [102]:
# A:

sf_dict = {'sunset':94122, 'presidio':94129, 'soma':94105, 'marina':94123}

sf_dict

{'marina': 94123, 'presidio': 94129, 'soma': 94105, 'sunset': 94122}

---

### 20. Get the zipcode for `'soma'`, and assign it to a variable.

In [103]:
# A:

zip_soma = sf_dict['soma']
zip_soma

94105

---

### 21. Get the keys out of the dictionary.

In [104]:
# A:
sf_dict.keys()

dict_keys(['sunset', 'presidio', 'soma', 'marina'])

---

### 22. Get the key:value pairs out of the dictionary as a list of tuples.

In [105]:
# A:

sf_dict.items()

dict_items([('sunset', 94122), ('presidio', 94129), ('soma', 94105), ('marina', 94123)])

---

### 23. Add the castro district to the dictionary with zipcode 94114.

In [106]:
# A:
sf_dict['castro'] = 94114

sf_dict

{'castro': 94114,
 'marina': 94123,
 'presidio': 94129,
 'soma': 94105,
 'sunset': 94122}

---

### 24. Combine the following smaller dictionary of districts with the SF zip codedictionary.

In [107]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [108]:
# A:
for item in small.items():
    sf_dict[item[0]] = item[1]

sf_dict

{'castro': 94114,
 'dogpatch': 94107,
 'marina': 94123,
 'outer_richmond': 94121,
 'presidio': 94129,
 'soma': 94105,
 'sunset': 94122}

---

### 25. Remove the '`sunset`' zipcode, and assign it to a variable.

In [109]:
# A:
new_var = sf_dict.pop('sunset')

new_var

94122

---

### 26. Check if the 'dogpatch' is in the dictionary.

In [110]:
# A:

sf_dict['dogpatch']

94107