<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Lab: Cleaning Rock Song Data

_Authors: Dave Yerrington (SF)_

---

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns

%matplotlib inline

### 1. Load `rock.csv` and do an initial examination of its data columns.

In [36]:
rockfile = "./datasets/rock.csv"

In [37]:
# Load the data.

rock = pd.read_csv(rockfile)
rock.head()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

In [38]:
rock.tail()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
2225,She Loves My Automobile,ZZ Top,NaN,She Loves My Automobile by ZZ Top,1,0,1,0
2226,Tube Snake Boogie,ZZ Top,1981,Tube Snake Boogie by ZZ Top,1,1,32,32
2227,Tush,ZZ Top,1975,Tush by ZZ Top,1,1,109,109
2228,TV Dinners,ZZ Top,1983,TV Dinners by ZZ Top,1,1,1,1
2229,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO,ZZ Top,1973,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO by...,1,1,2,2

In [39]:
rock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
Song Clean      2230 non-null object
ARTIST CLEAN    2230 non-null object
Release Year    1653 non-null object
COMBINED        2230 non-null object
First?          2230 non-null int64
Year?           2230 non-null int64
PlayCount       2230 non-null int64
F*G             2230 non-null int64
dtypes: int64(4), object(4)
memory usage: 139.5+ KB

In [40]:
rock.describe()

       First?        Year?    PlayCount          F*G
count  2230.0  2230.000000  2230.000000  2230.000000
mean      1.0     0.741256    16.872646    15.048430
std       0.0     0.438043    25.302972    25.288366
min       1.0     0.000000     0.000000     0.000000
25%       1.0     0.000000     1.000000     0.000000
50%       1.0     1.000000     4.000000     3.000000
75%       1.0     1.000000    21.000000    18.000000
max       1.0     1.000000   142.000000   142.000000

In [41]:
rock['F*G'].value_counts().head()

0    578
1    343
2    173
3    106
4     92
Name: F*G, dtype: int64

### 2.  Clean up the column names.

Let's clean up the column names. There are two ways we can accomplish this:

#### 2.A Change the column names when you import the data using `pd.read_csv()`.

Notice that, when passing `names=[..A LIST OF STRING..]` with a number of columns that matches the number of strings in the passed list, you replace the column names.

NOTE: When you create custom column names, the first row of the `.csv` already represents a header. It is important to tell `pandas` to skip that row. The `skiprows=1` keyword argument to `read_csv()` will tell `pandas` to skip the first row.

In [42]:
# Change the column names when loading the '.csv':

rock = pd.read_csv(rockfile, names = ['song', 'artist', 'year', 'combined', 'first_bool', 'year_bool', 'play_count', 'year_play'], skiprows=1)
rock.head()

,song,artist,year,combined,first_bool,year_bool,play_count,year_play
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

#### 2.B Change column names using the `.rename()` function.

The `.rename()` function takes an argument, `columns=name_dict`, in which `name_dict` is a dictionary containing the original column names as keys and the new column names as values.

In [43]:
# Change the column names using the `.rename()` function.

rock.rename(inplace=True, columns = {'song':'song1', 'artist':'artist1', 'year':'year1', 'combined':'combined1', 'first_bool':'first_bool1', 'year_bool':'year_bool1', 'play_count':'play_count1', 'year_play':'year_play1'})
rock.head()

,song1,artist1,year1,combined1,first_bool1,year_bool1,play_count1,year_play1
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

#### 2.C Reassigning the `.columns` attribute of a DataFrame.

You can also just reassign the `.columns` attribute to a list of strings containing the new column names. 

The only caveat with reassigning `.columns` is that you have to reassign all of the column names at once. You can't partially replace a value by working on `.columns` directly. You have to reassign `.columns` with a list of equal length.

In [44]:
# Replace the column names by reassigning the `.columns` attribute.
rock.columns = ['song', 'artist', 'release', 'combined', 'first_bool', 'year_bool', 'play_count', 'year_play']
rock.head()

,song,artist,release,combined,first_bool,year_bool,play_count,year_play
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

### 3. Subsetting data where null values exist.

We have mixed `str` and `NaN` values in the `release` column. `NaN` stands for "not a number" and is the way `pandas` handles "nulls" or nonexistent data. We can use the `.isnull()` method of a Series to find null values.

Print the header of the data subset to where the `release` column is null values.

In [45]:
# Show records where df['release'] is null

rock[rock.release.isnull()].head()

,song,artist,release,combined,first_bool,year_bool,play_count,year_play
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
10,"Baby, Please Don't Go",AC/DC,NaN,"Baby, Please Don't Go by AC/DC",1,0,1,0
13,CAN'T STOP ROCK'N'ROLL,AC/DC,NaN,CAN'T STOP ROCK'N'ROLL by AC/DC,1,0,5,0
16,Girls Got Rhythm,AC/DC,NaN,Girls Got Rhythm by AC/DC,1,0,24,0
24,Let's Get It Up,AC/DC,NaN,Let's Get It Up by AC/DC,1,0,4,0

### 4. Update slices of your DataFrame based on mask selection/slices.

In many scenarios, we want to upate values in our DataFrame according to criteria. Let's say we wanted to set all of the null values in `release` to 0.

With newer versions of `pandas`, in order to manipulate data in the original DataFrame, we have to use `.loc` while performing reassignment using a mask and an index.

For example, the following won't always work:
```python
df[row_mask]['column_name'] = new_value
```

The best way to accomplish the same task is:
```python
df.loc[row_mask, 'column_name'] = new_value
```

For multiple column assignment, you would use:
```python
df.loc[row_mask, ['col_1', 'col_2', 'col_3']] = new_value
```

#### 4.A Let's try it out. Make all of the null values in `release` 0.

In [46]:
# Replace release nulls with 0

rock.loc[rock.release.isnull(), ['release']] = 0
rock.head(11)

,song,artist,release,combined,first_bool,year_bool,play_count,year_play
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,0,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1
5,Kryptonite,3 Doors Down,2000,Kryptonite by 3 Doors Down,1,1,13,13
6,Loser,3 Doors Down,2000,Loser by 3 Doors Down,1,1,1,1
7,When I'm Gone,3 Doors Down,2002,When I'm Gone by 3 Doors Down,1,1,6,6
8,What's Up?,4 Non Blondes,1992,What's Up? by 4 Non Blondes,1,1,3,3
9,Take On Me,a-ha,1985,Take On Me by a-ha,1,1,1,1
10,"Baby, Please Don't Go",AC/DC,0,"Baby, Please Don't Go by AC/DC",1,0,1,0

#### 4.B Verify that `release` contains no null values.

In [47]:
# A:
rock.release.isnull().value_counts()

False    2230
Name: release, dtype: int64

### 5. Ensure that the data types of the columns make sense. 

Verifying column data types is a critical part of data munging. If columns have the wrong data type, then there is usually corrupted or incorrect data in some of the observations.

#### 5.A Look at the data types for the columns. Are any incorrect given what the data represents?

In [48]:
# A:

rock.dtypes

song          object
artist        object
release       object
combined      object
first_bool     int64
year_bool      int64
play_count     int64
year_play      int64
dtype: object

### 6. Investigate and clean up the `release` column.

The `release` column is a string data type when it should be an integer.

#### 6.A Figure out what value(s) are causing the `release` column to be encoded as a string instead of an integer.

In [49]:
# A:
rock.release.value_counts()

0                577
1973             104
1977              83
1975              83
1970              81
1971              75
1969              72
1980              70
1978              64
1979              63
1967              61
1981              61
1983              60
1976              56
1982              54
1984              51
1972              50
1974              48
1968              46
1985              39
1987              39
1986              37
1991              34
1989              32
1966              30
1988              29
1965              28
1994              25
1990              22
1993              19
1964              14
1992              14
1999              13
1995              10
1997               9
1996               9
1963               9
1998               6
2002               6
2005               5
2012               5
2004               5
2001               4
2007               3
2008               3
2003               3
1962               3
2011               3
2000               3
2014               2
2013               2
1071               1
1955               1
1958               1
2006               1
SONGFACTS.COM      1
1961               1
Name: release, dtype: int64

In [50]:
rock.release[rock.release == 'SONGFACTS.COM']

1504    SONGFACTS.COM
Name: release, dtype: object

In [51]:
rock.release[1504]

'SONGFACTS.COM'

In [52]:
rock.loc[1504, :]

song                            Bullfrog Blues
artist                          Rory Gallagher
release                          SONGFACTS.COM
combined      Bullfrog Blues by Rory Gallagher
first_bool                                   1
year_bool                                    1
play_count                                   1
year_play                                    1
Name: 1504, dtype: object

In [53]:
rock.loc[1504, 'release'] = 0

In [54]:
rock.dtypes

# Why is release still an object????

song          object
artist        object
release       object
combined      object
first_bool     int64
year_bool      int64
play_count     int64
year_play      int64
dtype: object

This seems like a fine way to go about it if the number of values in release is human searchable, but we'd need a better method, based on the types of values, if there were a million unique values....

#### 6.B Look at the rows in which there is incorrect data in the `release` column.

In [55]:
# A:

#rock.loc[type(0:2229) == str, 'release']

indices = []
count = 0

for el in rock.release:
    if type(el) == str:
        indices.append(el)
    count += 1

indices[:10]

# So all the 'release' values are strings....

['1982',
 '1981',
 '1980',
 '1975',
 '2000',
 '2000',
 '2002',
 '1992',
 '1985',
 '1980']

#### 6.C. Clean up the data. Normally we may replace the offending data with null np.nan values, however we previously converted all of the nan values in the release column to zeros so we might as well continue with the same practice. Replacing with 0 (or nan) will allow us to convert the column to numeric.

In [56]:
# A:

count = 0

for el in rock.release:
    if type(el) == str:
        rock.loc[count, 'release'] = int(rock.loc[count, 'release'])
    count += 1

In [64]:
rock.release.value_counts()

0       578
1973    104
1975     83
1977     83
1970     81
1971     75
1969     72
1980     70
1978     64
1979     63
1967     61
1981     61
1983     60
1976     56
1982     54
1984     51
1972     50
1974     48
1968     46
1985     39
1987     39
1986     37
1991     34
1989     32
1966     30
1988     29
1965     28
1994     25
1990     22
1993     19
1992     14
1964     14
1999     13
1995     10
1996      9
1963      9
1997      9
1998      6
2002      6
2004      5
2012      5
2005      5
2001      4
2000      3
2008      3
2011      3
1962      3
2003      3
2007      3
2013      2
2014      2
2006      1
1071      1
1955      1
1961      1
1958      1
Name: release, dtype: int64

In [65]:
rock.dtypes

song          object
artist        object
release        int64
combined      object
first_bool     int64
year_bool      int64
play_count     int64
year_play      int64
dtype: object

### 7. Get summary statistics for the `release` column using the `.describe()` function.

Now that the `release` column is finally a numeric data type, we can apply the `.describe()` function.  

#### 7.A Print out the summary stats for the `release` column. What is the earliest and latest release date?

In [67]:
rock.release.describe()

count    2230.000000
mean     1465.331390
std       867.196161
min         0.000000
25%         0.000000
50%      1973.000000
75%      1981.000000
max      2014.000000
Name: release, dtype: float64

In [70]:
rock[rock.release > 1071].release.describe()

count    1651.000000
mean     1978.569352
std         9.309780
min      1955.000000
25%      1971.000000
50%      1977.000000
75%      1984.000000
max      2014.000000
Name: release, dtype: float64

In [ ]:
# Earliest is 1955, Latest is 2014

#### 7.B Based on the summary statistics, is there anything else wrong with the `release` column?

In [72]:
# A:

rock[rock.release == 1071]

,song,artist,release,combined,first_bool,year_bool,play_count,year_play
547,Levon,Elton John,1071,Levon by Elton John,1,1,8,8

In [73]:
rock.loc[547, 'release'] = 1971

In [79]:
set(rock.release)

{0,
 1955,
 1958,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2011,
 2012,
 2013,
 2014}

_Looking at the DataFrame that contains the year 1071, we can see that the year was probably corrupted and should be replaced with something else if possible._

### 8. Make changes and investigate using custom functions with `.apply()`.

Let's say we want to traverse every single row in our data set and apply a function to that row.

#### 8.A Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970.

In [92]:
# A:

def information(dataframe):
    count = 0
    for el in dataframe:
        print(dataframe.iloc[count, 0])
        print(dataframe.iloc[count, 1])
        if dataframe.iloc[count, 2] < 1970:
            print('Song released before 1970')
        elif dataframe.iloc[count, 2] == 1970:
            print('Song released in 1970')
        else:
            print('Song released after 1970')
        count += 1

In [93]:
information(rock)

Caught Up in You
.38 Special
Song released after 1970
Fantasy Girl
.38 Special
Song released before 1970
Hold On Loosely
.38 Special
Song released after 1970
Rockin' Into the Night
.38 Special
Song released after 1970
Art For Arts Sake
10cc
Song released after 1970
Kryptonite
3 Doors Down
Song released after 1970
Loser
3 Doors Down
Song released after 1970
When I'm Gone
3 Doors Down
Song released after 1970

#### 8.B Using the `.apply()` function, apply the function you wrote to the first four rows of the DataFrame.

You will need to tell the `apply` function to operate row by row. Setting the keyword argument as `axis=1` indicates that the function should be applied to each row individually.

In [116]:
rock.loc[8, 'song'] = "What's up"

In [117]:
rock.head()

,song,artist,release,combined,first_bool,year_bool,play_count,year_play
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,0,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

In [120]:
# A:
rock.apply(information(rock[0:4]), axis=1)

Caught Up in You
.38 Special
Song released after 1970
Fantasy Girl
.38 Special
Song released before 1970
Hold On Loosely
.38 Special
Song released after 1970
Rockin' Into the Night
.38 Special
Song released after 1970

IndexError: single positional indexer is out-of-bounds

In [113]:
rock[0:4]

,song,artist,release,combined,first_bool,year_bool,play_count,year_play
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,0,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18

You'll notice that there will be a final output Series of `None` values. The `.apply()` function, if a return value is not specified, will return a Series of `None` values (similar to how the default return for Python functions is `None` when a return statement is not specified).

### 9. Write a function that converts cells in a DataFrame to float and otherwise replaces them with `np.nan`.

If applied to our data, it would keep only the numeric information and otherwise input null values.

Recall that the try-except syntax in Python is a great way to try something and take another action if the initial step fails:

```python
try:
    Perform some action.
except:
   Perform some other action if the first failed with an error.
```

#### 9.A Write the function that takes a column and converts all of its values to float if possible and `np.nan` otherwise. The return value should be the converted Series.

In [148]:
# A:

def float_converter(my_series):
    count = 0
    for el in my_series:
        try:
            my_series.replace(to_replace=my_series[count], value=float(my_series[count]))
        except:
            my_series.replace(to_replace=my_series[count], value=np.nan)
        count += 1

    return my_series

In [149]:
float_converter(rock.release).head()

0    1982
1       0
2    1981
3    1980
4    1975
Name: release, dtype: int64

In [147]:
rock.release.replace(to_replace=rock.release[1], value='omg').head()

0    1982
1     omg
2    1981
3    1980
4    1975
Name: release, dtype: object

In [158]:
rock.release.replace(to_replace=rock.release[1], value=float(rock.release[1])).head()

0    1982
1       0
2    1981
3    1980
4    1975
Name: release, dtype: int64

In [150]:
float(rock.release[1])

0.0

#### 9.B Try your function out on the rock song data and ensure the output is what you expected.

In [20]:
# A:

#### 9.C Describe the new float-only DataFrame.

In [21]:
# A: